a {
	text-decoration: none;
	color: #2AB8B5;
}

a:hover {
	color: #B82A2D;
}

.message {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
}
